/* colors */
.ambiguous-color {
    color: #E74C3C !important;
}

.failed-color {
    color: #E74C3C !important;
}

.undefined-color {
    color: #F39C12 !important;
}

.passed-color {
    color: #1ABB9C !important;
}

.pending-color {
    color: #FFD119 !important;
}

.skipped-color {
    color: #3498DB !important;
    /* line-height: normal; */
}

.various-color {
    color: #9b59b6 !important;
}

body {
    color: white;
    background: #000000;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

#navBar{
    background-color: #000000;
    font-size: 
    0.5vw;
}

.dataTables_scrollHeadInner > table > thead > tr > th{
    background-color: Blue;
    color: white !important;
}

th.select-checkbox::before{
    border: 1px solid #73879C !important;
}

td{
    color: #73879C;
}

td:before{
    border: 1px solid #73879C !important;
}