.idea/
.tmp/
.tmp1/
.tmp2/
.tmp3/
.tmp4
.tmp5/
coverage/
dist/
node_modules/
reports/
test/reportResult/
cucumber_html_reports.zip
cucumber_html_reporter.tar.gz
.nyc_output/
lcov.info
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
