{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "check-coverage": true,
    "extension": [ ".js", ".ts" ],
    "include": [
        "src/**/*.ts",
        "src/**/*.js",
        "src/*.ts",
        "src/*.js"
    ],
    "require": [
        "mocha"
    ],
    "reporter": [
        "text",
        "html",
        "cobertura",
        "lcov"
    ],
    "sourceMap": true,
    "instrument": true,
    "cache": true,
    "exclude":[
        "src/commandLineExecuter",
        "src/lib/generate-report/helpers/html-charts-scripts-functions.ts",
        "src/scripts/*.ts",
        "src/scripts/*.js",
        "src/lib/server/resources/**/*.js",
        "src/resources/**/*.js",
        "src/lib/types/*.d.ts",
        "src/lib/models/mongoose/mongoose-models.ts",
        "src/lib/models/common/application-properties.ts",
        "src/lib/models/mongoose/stats.ts",
        "src/scripts/ts/startServer.ts",
        "src/resources/scripts/ts/update-report-resources.ts"
    ]
}