<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="#">

    <title>Cucumber HTML Reports server</title>
    <% if(config.serverDisplay.useCDN){%>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
            crossorigin="anonymous" />

        <!-- DataTables -->
        <link rel="stylesheet" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
            integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css"
            href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" />
        <link rel="stylesheet" type="text/css"
            href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.bootstrap5.css" />
        <link rel="stylesheet" type="text/css"
            href="https://cdn.datatables.net/responsive/2.2.8/css/responsive.bootstrap5.css" />
        <link rel="stylesheet" type="text/css"
            href="https://cdn.datatables.net/scroller/2.0.4/css/scroller.bootstrap5.css" />
        <link rel="stylesheet" type="text/css"
            href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.css" />
        <%}else{%>
            <!-- Font Awesome -->
            <link rel="stylesheet" type="text/css" href="resources/font-awesome-6.0.0/css/all.min.css">

            <!-- DataTables -->
            <link rel="stylesheet" type="text/css" href="resources/twitter-bootstrap-5.1.3/css/bootstrap.min.css" />
            <link rel="stylesheet" type="text/css" href="resources/DataTables-1.11.4/dataTables.bootstrap5.min.css" />
            <link rel="stylesheet" type="text/css" href="resources/Buttons-2.2.2/buttons.bootstrap5.css" />
            <link rel="stylesheet" type="text/css" href="resources/Responsive-2.2.9/responsive.bootstrap5.css" />
            <link rel="stylesheet" type="text/css" href="resources/Scroller-2.0.5/scroller.bootstrap5.css" />
            <link rel="stylesheet" type="text/css" href="resources/Select-1.3.4/select.dataTables.css" />
        <%}%>
        <!-- Theme Style -->
        <% if(config.serverDisplay.theme === "Light" ){%>
            <link rel="stylesheet" type="text/css" href="resources/css/style-light-theme.css">
        <%} else if(config.serverDisplay.theme === "Dark" ){%>
            <link rel="stylesheet" type="text/css" href="resources/css/style-dark-theme.css">
        <%}%>
</head>

<body>
    <nav class="reportTitle mt-4 mb-4">
        <div class="container-fluid title">
            <h1 align="center" style="color:aliceblue;">Reports History</h1>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="x_panel col-md-12 col-sm-12 col-xs-12 mb-4 border-0">
            <table id="mongoDbResults-table" class="table table-bordered display nowrap table-hover" cellspacing="0"
                width="100%">
            </table>
        </div>
        <div>
            <button id="delete-button" onclick="deleteSelectedReports()">Delete</button>
            <button id="view-button" onclick="viewSelectedReports()">View</button>
            <button id="insert-button" onclick="insertReport()">Insert</button>
            <input type="file" id="file-input" class="d-none" />
        </div>
    </div>

    <!-- DataTables -->
    <% if(config.serverDisplay.useCDN){%>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
            integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"
            integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
            integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.bootstrap5.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.js"></script>
        <script type="text/javascript"
            src="https://cdn.datatables.net/responsive/2.2.8/js/dataTables.responsive.js"></script>
        <script type="text/javascript"
            src="https://cdn.datatables.net/scroller/2.0.4/js/dataTables.scroller.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.js"></script>
        <%}else{%>
            <script type="text/javascript" src="resources/jquery-3.6.0/jquery.js"></script>
            <script type="text/javascript" src="resources/axios-0.25.0/axios.min.js"></script>
            <script type="text/javascript" src="resources/twitter-bootstrap-5.1.3/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="resources/DataTables-1.11.4/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="resources/DataTables-1.11.4/dataTables.bootstrap5.min.js"></script>
            <script type="text/javascript" src="resources/Buttons-2.2.2/dataTables.buttons.js"></script>
            <script type="text/javascript" src="resources/Buttons-2.2.2/buttons.bootstrap5.js"></script>
            <script type="text/javascript" src="resources/Buttons-2.2.2/buttons.colVis.js"></script>
            <script type="text/javascript" src="resources/Responsive-2.2.9/dataTables.responsive.js"></script>
            <script type="text/javascript" src="resources/Scroller-2.0.5/dataTables.scroller.js"></script>
            <script type="text/javascript" src="resources/Select-1.3.4/dataTables.select.js"></script>
        <%}%>
                <script type="text/javascript">
                    var mongoDbResultsTable;
                    var getSelectedRowsIds = () => {
                        let reportIds = "";
                        mongoDbResultsTable.rows({ selected: true }).data().each(function (value, index) {
                            reportIds += `${value["_id"]};`
                        });
                        return reportIds === "" ? [] : reportIds.slice(0, -1).split(";");
                    };

                    const setButtonsStatus = () => {
                        const selectedRowsCount = getSelectedRowsIds();
                        let viewButton = document.getElementById('view-button');
                        let deleteButton = document.getElementById('delete-button');
                        if (selectedRowsCount.length) {
                            viewButton.disabled = false;
                            deleteButton.disabled = false;
                        } else {
                            viewButton.disabled = true;
                            deleteButton.disabled = true;
                        }
                    }

                    $(document).ready(function () {
                        mongoDbResultsTable = $('#mongoDbResults-table').DataTable({
                            dom: "<'row'<'col-md-2'l><'col-md-1'B><'col-md-6'><'col-md-3'f>>" +
                                "<'row'<'col-lg-12't>><'row'<'col-lg-6'i><'col-lg-6'p>>",
                            buttons: ['colvis'],
                            scrollCollapse: true,
                            scrollY: 300,
                            scrollX: 1000,
                            order: [[0, "asc"]],
                            lengthMenu: [[50, 100, 150, -1], [50, 100, 150, "All"]],
                            processing: true,
                            serverSide: true,
                            ajax: '/mongo/get/datatable',
                            columns: [
                                { "data": null, defaultContent: '' },
                                { "data": "_id" },
                                { "data": "reportTitle" },
                                { "data": "result" },
                                { "data": "date" },
                            ],
                            columnDefs: [
                                {
                                    orderable: false, className: 'select-checkbox', targets: 0, style: "color: #73879C !important"
                                },
                                {
                                    title: "Id",
                                    targets: 1
                                },
                                {
                                    title: "Report Title", targets: 2
                                },
                                {
                                    title: "Execution Result", targets: 3,
                                    render: function (data, type, row) {
                                        var output = "";
                                        data.forEach((value, index) => {
                                            output += `<i class="fa fa-${value.icon} fa-fw" data-bs-toggle="tooltip" data-placement="top" title="${value.status.toString()}"></i>`
                                        });
                                        return output;
                                    },
                                    createdCell: function (td, cellData, rowData, row, col) {
                                        $(td).addClass('text-center')
                                    }
                                },
                                {
                                    title: "Execution Date",
                                    targets: 4
                                }
                            ],
                            retrieve: true,
                            select: {
                                style: 'multi',
                                selector: 'td:first-child'
                            },
                            initComplete: function (settings, json) {
                                $('#mongoDbResults-table').DataTable().columns.adjust().draw();
                                $("#mongoDbResults-table").on('select.dt deselect.dt', function (e, dt, type, indexes) {
                                    setButtonsStatus();
                                });
                                setButtonsStatus();

                            }
                        });
                        $('#file-input').change(handleFileSelect);


                    });

                    var viewSelectedReports = async () => {
                        let reportIds = getSelectedRowsIds();
                        for (index = 0; index < reportIds.length; index++) {
                            await axios.get(`/generateReport?id=${reportIds[index]}`);
                        }
                    };

                    var deleteSelectedReports = async () => {
                        let reportIds = getSelectedRowsIds();
                        for (index = 0; index < reportIds.length; index++) {
                            await axios.post(`/deleteReport?id=${reportIds[index]}`);
                        }
                        mongoDbResultsTable.ajax.reload();
                    };

                    var insertReport = async () => {
                        let input = document.getElementById('file-input');
                        input.value = "";
                        input.type = 'file';
                        input.click();
                    };

                    var handleFileSelect = async (e) => {
                        var reader = new FileReader();
                        var files = e.target.files;
                        var readFile = await getFileContents(files[0]);
                        try {
                            var result = JSON.parse(readFile);
                        } catch (error) {
                            console.log(error.message);
                        }
                        await axios.post('/insertReport', result);
                        mongoDbResultsTable.ajax.reload();
                    }

                    function getFileContents(file) {
                        return new Promise((resolve, reject) => {
                            let contents = ""
                            const reader = new FileReader()
                            reader.onloadend = function (e) {
                                contents = e.target.result
                                resolve(contents)
                            }
                            reader.onerror = function (e) {
                                reject(e)
                            }
                            reader.readAsText(file)
                        })
                    }


                </script>

                <div class="created-by text-center">
                    <p>Created by yon cuadrado. Find me on:</p>
                    <a href="https://github.com/yon-cuadrado" target="_blank">
                        <i class="fab fa-github fa-2x ms-2"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/yon-cuadrado-blanco/" target="_blank">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                </div>
</body>

</html>